[include shell_command.cfg]

# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

[exclude_object]
[include fluidd.cfg]
[include mainsail.cfg]
# [include canbus-ebb.cfg]
[include nitehawk-sb.cfg]
[include macros.cfg]
[include bedfans.cfg]
[include KAMP_Settings.cfg]
[include config_backup.cfg]
# [include K-ShakeTune/*.cfg]  # https://github.com/Frix-x/klippain-shaketune
[skew_correction]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_150046000F50535556323420-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 7500            #Max 4000
max_z_velocity: 15         #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[beacon] 
# https://docs.beacon3d.com/contact/
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_59AC48105154354D38202020FF0A1F31-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 20.3 #22.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

home_method: proximity # <contact|proximity> use proximity for induction homing
home_method_when_homed: contact # <contact|proximity> after initial calibration use induction
home_autocalibrate: unhomed # <always|unhomed|never> contact will calibrate beacon on first home

home_xy_position: 175, 175
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300

[force_move]
enable_force_move: True

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#####################################################################
#   Temps
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: nhk:gpio13
position_min: 0

position_endstop: 351
position_max: 351
homing_speed: 70   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: PG9
position_min: -4
position_endstop: 355
homing_speed: 70   #Max 100
position_max: 355
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

#  Connected to MOTOR_6
#  Heater - HE0
#  Thermistor - T0
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
rotation_distance: 46.2622763097
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:gpio9
sensor_type: PT1000
sensor_pin: nhk:gpio29
#control = pid
#pid_kp = 34.467
#pid_ki = 4.255
#pid_kd = 69.796
pullup_resistor: 2200
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 5
max_extrude_only_distance: 250.0
#  Try to keep pressure_advance below 1.0
pressure_advance: 0.025
#  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

#  E0 on MOTOR6
[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.6
sense_resistor: 0.100
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

position_max: 285 #310
position_min: -3
homing_speed: 10
second_homing_speed: 3

endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 0.75
min_temp: 0
max_temp: 120

#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
# https://www.klipper3d.org/Bed_Mesh.html
speed: 350                  # speed (in mm/s) of non-probing moves, default is 50
zero_reference_position: 175, 175  #   Setting this parameter will normalize mesh adjustments to the offset found
                                   #   at the specified position. This should nearly always be the same as your
                                   #   safe_z_home position and the position where beacon_calibrate was performed.
horizontal_move_z: 5        # the Z coordinate the probe rises to prior to traveling between points, default is 5
mesh_min: 20, 32 ; 10, 10            # The first probed coordinate, nearest to the origin relative to probe
mesh_max: 330, 318 ; 340, 340          # The probed coordinate farthest farthest from the origin
probe_count: 50, 50         # The number of points to probe on each axis, specified as X, Y integer values.
fade_start: 1               # Z height in which to start phasing out adjustment
fade_end: 10                # Z height in which fade should complete.
fade_target: 0              # thought of as an additional Z offset applied to the entire bed after fade completes
mesh_pps: 2, 2              # specifies how many points to interpolate for each segment along the X and Y axes
algorithm: bicubic
bicubic_tension: 0.2

#####################################################################
#   Retraction
#####################################################################

[firmware_retraction]
retract_length: 0           # The length of filament (in mm) to retract when G10 is activated, and to unretract
                            # when G11 is activated (but see unretract_extra_length below). The default is 0 mm.
retract_speed: 20           # The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0   # The length (in mm) of *additional* filament to add when unretracting.
unretract_speed: 10         # The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
#   Fan Control
#####################################################################

##  Controller fan - FAN2
[temperature_fan controller_fan]
pin: PD12
kick_start_time: 1.0
max_power: 1.0
hardware_pwm: true
control: watermark
max_delta: 2
sensor_type: temperature_host
min_temp: 0.0
max_temp: 80.0
target_temp: 45

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
pin: PD15
value: 1

#####################################################################
#   Additional Sensors
#####################################################################

#[temperature_sensor chamber_temp_rear]
## Chamber Temperature - T1
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
 #gcode_id: chamber_th

[idle_timeout]
timeout: 2700   #1800

#####################################################################
##  Quad Gantry
#####################################################################

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 

##  Gantry Corners for 350mm Build
[quad_gantry_level]
gantry_corners: 
   -60,-10
   410,420
##  Probe points
points:
   15, 15 ; 15, 15
   15, 313 ; 15, 335
   335, 313 ; 335, 335
   335, 15 ; 335, 15

speed: 350 #150
horizontal_move_z:5
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
##  Input Shaper
#####################################################################
[input_shaper]
shaper_freq_x: 63.2
shaper_type_x: mzv
shaper_freq_y: 45.2
shaper_type_y: mzv

#####################################################################
#   Respond
#####################################################################
[respond]
default_type: command
default_prefix: echo:

#####################################################################
#   Shaketune
#####################################################################
[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 10
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 48.178
#*# pid_ki = 1.656
#*# pid_kd = 350.492
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.251
#*# pid_ki = 1.688
#*# pid_kd = 60.753
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [beacon model default]
#*# model_coef = 1.7660073142819643,
#*# 	  2.0507037903563416,
#*# 	  0.6345613812138741,
#*# 	  0.230681366548337,
#*# 	  0.19292549501802767,
#*# 	  0.15990514317749363,
#*# 	  -0.06763953756086141,
#*# 	  -0.09957593046259354,
#*# 	  0.07537832259402322,
#*# 	  0.06191303250903298
#*# model_domain = 1.912687160714641e-07,1.9428212272899722e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 69.334012
#*# model_offset = 0.06000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.095720, 0.093118, 0.087988, 0.084326, 0.081386, 0.079794, 0.076518, 0.074420, 0.072741, 0.071014, 0.069897, 0.068324, 0.068423, 0.068192, 0.067741, 0.066756
#*# 	  0.085175, 0.080448, 0.075579, 0.072622, 0.068768, 0.068575, 0.063057, 0.063686, 0.058493, 0.059128, 0.059109, 0.056699, 0.059034, 0.053709, 0.058083, 0.056159
#*# 	  0.068287, 0.063043, 0.060682, 0.057643, 0.054477, 0.052309, 0.049885, 0.047288, 0.044917, 0.042803, 0.041481, 0.040771, 0.039291, 0.039151, 0.040272, 0.039169
#*# 	  0.052765, 0.049070, 0.045265, 0.043281, 0.039105, 0.038020, 0.032627, 0.032477, 0.030260, 0.028080, 0.029697, 0.021148, 0.023738, 0.021422, 0.023507, 0.023709
#*# 	  0.037881, 0.034711, 0.030282, 0.026051, 0.025673, 0.022767, 0.021499, 0.017329, 0.013228, 0.012325, 0.009323, 0.008581, 0.007800, 0.005464, 0.007983, 0.005619
#*# 	  0.025903, 0.021601, 0.017315, 0.016336, 0.013889, 0.010781, 0.008457, 0.004158, 0.002013, -0.004486, -0.002469, -0.000847, -0.006266, -0.004702, -0.006280, -0.005625
#*# 	  0.021629, 0.015174, 0.012847, 0.010324, 0.008080, 0.004838, 0.000952, -0.001189, -0.004595, -0.008914, -0.010110, -0.012900, -0.012921, -0.013335, -0.012751, -0.011739
#*# 	  0.016939, 0.013060, 0.008688, 0.005223, 0.004364, -0.000117, -0.002253, -0.004848, -0.007852, -0.008794, -0.012733, -0.012890, -0.017774, -0.016144, -0.018121, -0.015108
#*# 	  0.016938, 0.011037, 0.008100, 0.005065, 0.003823, 0.000757, -0.001819, -0.004376, -0.008544, -0.009565, -0.012726, -0.013977, -0.014180, -0.016270, -0.013483, -0.013084
#*# 	  0.018225, 0.013064, 0.010829, 0.004310, 0.004855, 0.002069, 0.000387, -0.000091, -0.005470, -0.004493, -0.009596, -0.010476, -0.013061, -0.011120, -0.008623, -0.013337
#*# 	  0.021968, 0.015075, 0.016879, 0.010842, 0.013015, 0.004649, 0.003722, 0.000302, -0.004320, -0.004492, -0.006222, -0.007099, -0.008879, -0.008909, -0.007844, -0.008897
#*# 	  0.025064, 0.017636, 0.014128, 0.013181, 0.008526, 0.006263, 0.003483, 0.001900, -0.001115, -0.002153, -0.000717, -0.003248, -0.004376, -0.007763, -0.006595, -0.005106
#*# 	  0.022343, 0.017253, 0.015321, 0.010962, 0.007143, 0.004436, 0.000410, -0.002082, -0.003821, -0.004333, -0.005331, -0.005470, -0.007885, -0.007282, -0.008649, -0.008706
#*# 	  0.019879, 0.015397, 0.010849, 0.009074, 0.004167, 0.003348, -0.000884, -0.003601, -0.004366, -0.006583, -0.004415, -0.009597, -0.008742, -0.009628, -0.008794, -0.009632
#*# 	  0.013666, 0.009030, 0.004377, 0.002997, -0.000022, -0.002771, -0.004322, -0.007769, -0.010478, -0.013066, -0.013373, -0.013039, -0.013214, -0.013133, -0.012970, -0.013216
#*# 	  0.011007, 0.004319, 0.000171, -0.001020, -0.003537, -0.005008, -0.008869, -0.011149, -0.013656, -0.017703, -0.017021, -0.015882, -0.015104, -0.016074, -0.015437, -0.016725
#*# 	  0.008737, 0.002149, -0.000358, -0.004468, -0.004985, -0.008880, -0.009875, -0.013438, -0.017543, -0.017771, -0.020556, -0.019773, -0.019056, -0.020813, -0.018239, -0.020188
#*# 	  0.007660, 0.001201, -0.001716, -0.004377, -0.005830, -0.008814, -0.010306, -0.013222, -0.015595, -0.017538, -0.018842, -0.019303, -0.019110, -0.019016, -0.019530, -0.020974
#*# 	  0.013079, 0.008698, 0.003808, 0.000216, -0.000041, -0.000366, -0.004261, -0.006660, -0.008857, -0.011925, -0.013361, -0.015645, -0.015865, -0.015826, -0.014718, -0.016702
#*# 	  0.017403, 0.013096, 0.008803, 0.008640, 0.006448, 0.004251, 0.002968, -0.000107, -0.001037, -0.004539, -0.005688, -0.006748, -0.005462, -0.008872, -0.007963, -0.007533
#*# 	  0.024495, 0.019212, 0.015048, 0.012942, 0.012198, 0.008898, 0.008613, 0.007532, 0.004063, 0.002100, -0.000178, -0.000465, -0.000203, -0.001889, -0.000187, -0.001661
#*# 	  0.026277, 0.023193, 0.017959, 0.016451, 0.013042, 0.011164, 0.009809, 0.008729, 0.008138, 0.006254, 0.003356, 0.002148, 0.000382, 0.003326, 0.002887, 0.003704
#*# x_count = 16
#*# y_count = 22
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 128.519
#*# max_x = 220.791
#*# min_y = 114.449
#*# max_y = 235.421
