#####################################################################
##   Beacon stuff
#####################################################################
[gcode_macro _HOME_PRE_AXIS]
gcode:
  {% set axis = params.AXIS %}
  SET_KINEMATIC_POSITION {axis}=175
  G91
  G0 {axis}-15 M204 S250 F3000

# [gcode_macro _HOME_POST_AXIS]
# gcode:
#   {% set axis = params.AXIS %}

# # Move away
#   G91
#   G0 {axis}-10 F3600