#####################################################################
##   Force unload filament
#####################################################################
[gcode_macro FILAMENT_UNLOAD]
gcode:
    G92  # M83
    FORCE_MOVE STEPPER=extruder DISTANCE=-50 VELOCITY=10
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    # G92

#####################################################################
##   Unload Filament
#####################################################################

# [gcode_macro UNLOAD_FILAMENT]
# gcode:
#     M83  ; set extruder to relative
#     SET_HEATER_TEMPERATURE HEATER=extruder TARGET=250  ; set heater to 250
#     TEMPERATURE_WAIT SENSOR=extruder MINIMUM=245 MAXIMUM=255  ; wait for heater to reach 245    
#     # M109 S250  ; heat hotend to 250 and wait
#     G1 E10 F300  ; extrude a little to soften tip
#     G1 E-60 F1800  ; retract some, but not too much or it will jam
#     # M104 S0  ; turn off nozzle heater
#     M82  ; set extruder to absolute
