#####################################################################
##   Force load filament
#####################################################################
[gcode_macro FILAMENT_LOAD]
gcode:
    G92  # M83
    FORCE_MOVE STEPPER=extruder DISTANCE=50 VELOCITY=10
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    # G92

#####################################################################
##   Load Filament
#####################################################################

# [gcode_macro LOAD_FILAMENT]
# gcode:
#     M83  ; set extruder to relative
#     SET_HEATER_TEMPERATURE HEATER=extruder TARGET=250  ; set heater to 250
#     TEMPERATURE_WAIT SENSOR=extruder MINIMUM=245 MAXIMUM=255  ; wait for heater to reach 245
#     # M109 S250  ; heat hotend to 220 and wait
#     G1 E50 F300  ; load
#     G1 E15 F150  ; prime nozzle with filament
#     # M104 S0  ; turn off nozzle heater
#     M82  ; set extruder to absolute