#####################################################################
##   Cancel Print
#####################################################################

# [gcode_macro CANCEL_PRINT]
# rename_existing: BASE_CANCEL_PRINT
# gcode:
#     SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}     # set timeout back to configured value
#     CLEAR_PAUSE
#     SDCARD_RESET_FILE
#     PRINT_END
#     BASE_CANCEL_PRINT

#####################################################################
##   Cancel Print
#####################################################################

# [gcode_macro CANCEL_PRINT]
# description: Cancel the actual running print
# rename_existing: CANCEL_PRINT_BASE
# gcode:
#     # safe anti-stringing move coords
#     {% set th = printer.toolhead %}
#     {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
#     {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
#     {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    
#     SAVE_GCODE_STATE NAME=STATE_CANCEL_PRINT
#     SET_SKEW CLEAR=1
    
#     M400                    # wait for buffer to clear
#     G92 E0                  # zero the extruder
#     G1 E-1 F1800            # retract filament

#     # G91                   # relative positioning
#     # G0 Z50                # move nozzle up
    
#     G90                     # absolute positioning
#     G0 Z{z_safe} F3600     # move nozzle to remove stringing
#     # G0 X{x_safe} Y{y_safe} Z{z_safe} F12000  # move nozzle to remove stringing
#     G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F12000  # park nozzle at rear
    
#     G92 E0                  # zero the extruder
#     G1 E-30 F1800           # retract filament
    
#     M107                    # turn off fan
#     BED_MESH_CLEAR          # clear bed mesh
#     M84                     # turn off motors
#     TURN_OFF_HEATERS        # turn off heaters
#     M221 S100               # reset flow to 100%
#     M220 S100               # reset speed to 100%
#     CANCEL_PRINT_BASE