#####################################################################
##   Home and QGL
#####################################################################

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:

    {% if printer.quad_gantry_level.applied|lower == 'false' %}
      _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=0.2
      _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2
      #DISPLAYTEXT TEXT="QGL Complete"
    {% else %}  
      #DISPLAYTEXT TEXT="QGL Not needed"
    {% endif %}
    
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28                         # PROBE_METHOD=PROXIMITY #CONTACT
    QUAD_GANTRY_LEVEL           # HORIZONTAL_MOVE_Z=2
    G28                         # PROBE_METHOD=PROXIMITY #CONTACT
    # G0 X175 Y175 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32  