#####################################################################
##   Set Axises
#####################################################################
[gcode_macro SET_AXIS]
gcode:
   SET_KINEMATIC_POSITION X=175 Y=175 Z=100