[beacon]
## https://docs.beacon3d.com/contact/
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_5B1656205157355957202020FF111209-if00
x_offset: 0
y_offset: 19.676
mesh_main_direction: x
mesh_overscan: 1
mesh_runs: 4
contact_max_hotend_temperature: 185

home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
home_xy_position: 175, 175
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 150

home_method: proximity # <contact|proximity> use proximity for induction homing
home_method_when_homed: proximity # <contact|proximity> after initial calibration use induction
home_autocalibrate: unhomed # <always|unhomed|never> contact will calibrate beacon on first home

[resonance_tester]
accel_chip: beacon
probe_points: 175, 175, 20